doctype html
html
    head
        title #{title}
        style
            include file-list.css
        script(
        type="text/javascript"
        src="views/file-list/file-list.js"
        )

    body
        div.file-display
            if fileList
                ul.file-list
                    each file in fileList
                        li.file-item= file
            if err
                div.error-message #{err}
            button(onclick='goBack()') Go Back